#calculator{
    background-color: #CFCFCF;
    border-radius: 10px;
    padding: 15px;
    width: 450px;

    padding-left: 25px;
}
button{
    width: 100px;
    height: 80px;
    margin-bottom: 1px;
    border-radius: 5px;
}
#screen{
    width: 410px;
    height: 80px;
    background-color: white;
    text-align: right;
    color:black;
    font-size: 30px;
    margin-bottom: 10px;
    border-color: #70908f   ;
}
#clear {

    width: 100px;
    height: 80px;
    background-color: #B5B5B5;
}
#delete{
    width: 100px;
    height: 80px;
    background-color: #B5B5B5;
}
#equal{
    background-color: #B5B5B5;
}
#key{
    margin-left: 4px;
}